body {
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  background-color: rgba(195, 255, 241, 0.718);
}

h1 {
  font-weight: 700;
  font-size: 20px;
}

.btn-create-room {
}

.rooms {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  gap: 10px;
}

.room {
  padding: 4px 15px;
  border: 1px solid purple;
  border-radius: 4px;
}
