@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  background: rgb(250, 244, 229);
  width: 100vw;
  max-height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  padding: calc(100vh / 730 * 36) calc(100vh / 730 * 16);
}
.container:after {
  position: absolute;
  width: 140%;
  height: 100%;
  display: block;
  content: "";
  z-index: -1;
  left: -20%;
  top: 0;
  background: url("./assets/background.svg") no-repeat center;
  background-size: contain;
  box-shadow: 2px 2px 4px 2000px rgba(255, 166, 132, 0.3019607843);
}

.title {
  border-radius: calc(100vh / 730 * 20);
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.6);
  padding: calc(100vh / 730 * 3) calc(100vh / 730 * 16);
  width: max-content;
  font-family: Michroma, serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: normal;
  color: rgb(15, 15, 15);
}

.title[onclick] {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(100vh / 730 * 10);
  flex-grow: 1;
}
.content__title {
  font-family: Michroma, serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 100%;
  color: rgb(15, 15, 15);
}

.game-title {
  font-family: Josefin Sans, serif;
  font-size: 5em;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-align: left;
  color: rgb(201, 38, 128);
}

.game-subtitle {
  align-self: end;
  padding-right: calc(100vh / 730 * 36);
  font-family: Homemade Apple, serif;
  font-size: 2.8em;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-align: right;
  color: rgb(121, 155, 38);
}

.form {
  width: 100%;
  max-height: 80%;
}
.form .form__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  gap: calc(100vh / 730 * 12);
  max-height: 95%;
  margin-top: calc(100vh / 730 * 24);
  padding: calc(100vh / 730 * 24) calc(100vh / 730 * 20) calc(100vh / 730 * 56) calc(100vh / 730 * 20);
  border-radius: calc(100vh / 730 * 20);
  background: rgb(179, 205, 238);
}
.form__title {
  font-family: Inter, serif;
  font-size: 1em;
  font-weight: 600;
  line-height: normal;
  color: rgb(15, 15, 15);
}
.form input[type=text] {
  align-self: stretch;
  flex-grow: 1;
  padding: calc(100vh / 730 * 11) calc(100vh / 730 * 16);
  font-size: 1em;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: calc(100vh / 730 * 10);
}
.form__radios {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.form__group {
  width: 49%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: calc(100vh / 730 * 10);
}
.form label {
  font-family: Inter;
  color: white;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;
}
.form input[type=checkbox],
.form input[type=radio] {
  transform: scale(1.2);
  accent-color: #F52CA0;
}
.form__link {
  position: relative;
  border-radius: calc(100vh / 730 * 20);
  padding: calc(100vh / 730 * 8) calc(100vh / 730 * 36) calc(100vh / 730 * 8) calc(100vh / 730 * 20);
  background: rgba(255, 255, 255, 0.6705882353);
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 0.7em;
  text-align: left;
  line-height: normal;
  word-break: break-word;
  letter-spacing: -0.1em;
  color: #000;
  cursor: pointer;
}
.form__link:active {
  transition: all 0.2s ease-in-out;
  background: #F52CA0;
  color: white;
}
.form__link:active .form__link_btn-copy {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg fill="white" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"><g id="Text-files"><path d="M53.9791489,9.1429005H50.010849c-0.0826988,0-0.1562004,0.0283995-0.2331009,0.0469999V5.0228C49.7777481,2.253,47.4731483,0,44.6398468,0h-34.422596C7.3839517,0,5.0793519,2.253,5.0793519,5.0228v46.8432999c0,2.7697983,2.3045998,5.0228004,5.1378999,5.0228004h6.0367002v2.2678986C16.253952,61.8274002,18.4702511,64,21.1954517,64h32.783699c2.7252007,0,4.9414978-2.1725998,4.9414978-4.8432007V13.9861002C58.9206467,11.3155003,56.7043495,9.1429005,53.9791489,9.1429005z M7.1110516,51.8661003V5.0228c0-1.6487999,1.3938999-2.9909999,3.1062002-2.9909999h34.422596c1.7123032,0,3.1062012,1.3422,3.1062012,2.9909999v46.8432999c0,1.6487999-1.393898,2.9911003-3.1062012,2.9911003h-34.422596C8.5049515,54.8572006,7.1110516,53.5149002,7.1110516,51.8661003z M56.8888474,59.1567993c0,1.550602-1.3055,2.8115005-2.9096985,2.8115005h-32.783699c-1.6042004,0-2.9097996-1.2608986-2.9097996-2.8115005v-2.2678986h26.3541946c2.8333015,0,5.1379013-2.2530022,5.1379013-5.0228004V11.1275997c0.0769005,0.0186005,0.1504021,0.0469999,0.2331009,0.0469999h3.9682999c1.6041985,0,2.9096985,1.2609005,2.9096985,2.8115005V59.1567993z"/><path d="M38.6031494,13.2063999H16.253952c-0.5615005,0-1.0159006,0.4542999-1.0159006,1.0158005c0,0.5615997,0.4544001,1.0158997,1.0159006,1.0158997h22.3491974c0.5615005,0,1.0158997-0.4542999,1.0158997-1.0158997C39.6190491,13.6606998,39.16465,13.2063999,38.6031494,13.2063999z"/><path d="M38.6031494,21.3334007H16.253952c-0.5615005,0-1.0159006,0.4542999-1.0159006,1.0157986c0,0.5615005,0.4544001,1.0159016,1.0159006,1.0159016h22.3491974c0.5615005,0,1.0158997-0.454401,1.0158997-1.0159016C39.6190491,21.7877007,39.16465,21.3334007,38.6031494,21.3334007z"/><path d="M38.6031494,29.4603004H16.253952c-0.5615005,0-1.0159006,0.4543991-1.0159006,1.0158997s0.4544001,1.0158997,1.0159006,1.0158997h22.3491974c0.5615005,0,1.0158997-0.4543991,1.0158997-1.0158997S39.16465,29.4603004,38.6031494,29.4603004z"/><path d="M28.4444485,37.5872993H16.253952c-0.5615005,0-1.0159006,0.4543991-1.0159006,1.0158997s0.4544001,1.0158997,1.0159006,1.0158997h12.1904964c0.5615025,0,1.0158005-0.4543991,1.0158005-1.0158997S29.0059509,37.5872993,28.4444485,37.5872993z"/></g></svg>');
}
.form__link_btn-copy {
  position: absolute;
  right: calc(100vh / 730 * 10);
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: calc(100vh / 730 * 20);
  height: calc(100vh / 730 * 26);
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg fill="%23000000" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"><g id="Text-files"><path d="M53.9791489,9.1429005H50.010849c-0.0826988,0-0.1562004,0.0283995-0.2331009,0.0469999V5.0228C49.7777481,2.253,47.4731483,0,44.6398468,0h-34.422596C7.3839517,0,5.0793519,2.253,5.0793519,5.0228v46.8432999c0,2.7697983,2.3045998,5.0228004,5.1378999,5.0228004h6.0367002v2.2678986C16.253952,61.8274002,18.4702511,64,21.1954517,64h32.783699c2.7252007,0,4.9414978-2.1725998,4.9414978-4.8432007V13.9861002C58.9206467,11.3155003,56.7043495,9.1429005,53.9791489,9.1429005z M7.1110516,51.8661003V5.0228c0-1.6487999,1.3938999-2.9909999,3.1062002-2.9909999h34.422596c1.7123032,0,3.1062012,1.3422,3.1062012,2.9909999v46.8432999c0,1.6487999-1.393898,2.9911003-3.1062012,2.9911003h-34.422596C8.5049515,54.8572006,7.1110516,53.5149002,7.1110516,51.8661003z M56.8888474,59.1567993c0,1.550602-1.3055,2.8115005-2.9096985,2.8115005h-32.783699c-1.6042004,0-2.9097996-1.2608986-2.9097996-2.8115005v-2.2678986h26.3541946c2.8333015,0,5.1379013-2.2530022,5.1379013-5.0228004V11.1275997c0.0769005,0.0186005,0.1504021,0.0469999,0.2331009,0.0469999h3.9682999c1.6041985,0,2.9096985,1.2609005,2.9096985,2.8115005V59.1567993z"/><path d="M38.6031494,13.2063999H16.253952c-0.5615005,0-1.0159006,0.4542999-1.0159006,1.0158005c0,0.5615997,0.4544001,1.0158997,1.0159006,1.0158997h22.3491974c0.5615005,0,1.0158997-0.4542999,1.0158997-1.0158997C39.6190491,13.6606998,39.16465,13.2063999,38.6031494,13.2063999z"/><path d="M38.6031494,21.3334007H16.253952c-0.5615005,0-1.0159006,0.4542999-1.0159006,1.0157986c0,0.5615005,0.4544001,1.0159016,1.0159006,1.0159016h22.3491974c0.5615005,0,1.0158997-0.454401,1.0158997-1.0159016C39.6190491,21.7877007,39.16465,21.3334007,38.6031494,21.3334007z"/><path d="M38.6031494,29.4603004H16.253952c-0.5615005,0-1.0159006,0.4543991-1.0159006,1.0158997s0.4544001,1.0158997,1.0159006,1.0158997h22.3491974c0.5615005,0,1.0158997-0.4543991,1.0158997-1.0158997S39.16465,29.4603004,38.6031494,29.4603004z"/><path d="M28.4444485,37.5872993H16.253952c-0.5615005,0-1.0159006,0.4543991-1.0159006,1.0158997s0.4544001,1.0158997,1.0159006,1.0158997h12.1904964c0.5615025,0,1.0158005-0.4543991,1.0158005-1.0158997S29.0059509,37.5872993,28.4444485,37.5872993z"/></g></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border: none;
  outline: none;
  padding: 0 calc(100vh / 730 * 8);
}

.description__item {
  list-style-type: "✓ ";
  list-style-position: inside;
  font-family: Inter, serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0em;
  color: white;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 100%;
  height: calc(100vh / 730 * 72);
  border-radius: calc(100vh / 730 * 20);
  background: rgb(255, 47, 161);
  border: none;
  outline: none;
  font-family: Krona One, serif;
  font-size: 2.2em;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
}
.btn:disabled {
  background: #D6ACC3;
  cursor: not-allowed;
  color: #DCC7D3;
}
.btn:disabled:hover {
  opacity: 1;
}
.btn:disabled:active {
  transform: none;
}
.btn:hover {
  opacity: 0.85;
}
.btn:active {
  transform: translate(1px, 1px);
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(100vh / 730 * 10);
}

.btn-back {
  display: inline-block;
  width: calc(100vh / 730 * 30);
  height: calc(100vh / 730 * 30);
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.3907 2.18111C24.1901 1.09771 25.8099 1.09771 26.6093 2.18111L29.7901 6.49197C30.2981 7.18046 31.1878 7.46954 32.0035 7.21114L37.1106 5.59319C38.3941 5.18657 39.7047 6.13872 39.7146 7.48507L39.754 12.8422C39.7603 13.6978 40.3102 14.4547 41.122 14.725L46.2047 16.418C47.4821 16.8435 47.9827 18.3841 47.1994 19.4791L44.0824 23.8364C43.5846 24.5323 43.5846 25.4677 44.0824 26.1636L47.1994 30.5209C47.9827 31.6159 47.4821 33.1565 46.2047 33.582L41.122 35.275C40.3102 35.5453 39.7603 36.3022 39.754 37.1577L39.7146 42.5149C39.7047 43.8613 38.3942 44.8134 37.1106 44.4068L32.0035 42.7889C31.1878 42.5305 30.2981 42.8195 29.7901 43.508L26.6093 47.8189C25.8099 48.9023 24.1901 48.9023 23.3907 47.8189L20.2099 43.508C19.7019 42.8195 18.8122 42.5305 17.9965 42.7889L12.8894 44.4068C11.6059 44.8134 10.2953 43.8613 10.2854 42.5149L10.246 37.1578C10.2397 36.3022 9.68982 35.5453 8.87805 35.275L3.79526 33.582C2.51786 33.1565 2.01729 31.6159 2.80063 30.5209L5.9176 26.1636C6.4154 25.4677 6.4154 24.5323 5.9176 23.8364L2.80064 19.4791C2.01729 18.3841 2.51786 16.8435 3.79526 16.418L8.87805 14.725C9.68982 14.4547 10.2397 13.6978 10.246 12.8422L10.2854 7.48508C10.2953 6.13872 11.6058 5.18657 12.8894 5.59319L17.9965 7.21113C18.8122 7.46954 19.7019 7.18046 20.2099 6.49197L23.3907 2.18111Z" fill="white"/><path d="M19 25.1719C19 25.4648 19.1055 25.7227 19.3281 25.9453L28.6211 35.0273C28.8203 35.2383 29.0781 35.3438 29.3828 35.3438C29.9922 35.3438 30.4609 34.8867 30.4609 34.2773C30.4609 33.9727 30.332 33.7148 30.1445 33.5156L21.6133 25.1719L30.1445 16.8281C30.332 16.6289 30.4609 16.3594 30.4609 16.0664C30.4609 15.457 29.9922 15 29.3828 15C29.0781 15 28.8203 15.1055 28.6211 15.3047L19.3281 24.3984C19.1055 24.6094 19 24.8789 19 25.1719Z" fill="black"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-about {
  position: absolute;
  right: calc(100vh / 730 * 16);
  top: calc(100vh / 730 * 32);
  z-index: 10;
  display: inline-block;
  width: calc(100vh / 730 * 50);
  height: calc(100vh / 730 * 50);
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.3907 2.18111C24.1901 1.09771 25.8099 1.09771 26.6093 2.18111L29.7901 6.49197C30.2981 7.18046 31.1878 7.46954 32.0035 7.21114L37.1106 5.59319C38.3941 5.18657 39.7047 6.13872 39.7146 7.48507L39.754 12.8422C39.7603 13.6978 40.3102 14.4547 41.122 14.725L46.2047 16.418C47.4821 16.8435 47.9827 18.3841 47.1994 19.4791L44.0824 23.8364C43.5846 24.5323 43.5846 25.4677 44.0824 26.1636L47.1994 30.5209C47.9827 31.6159 47.4821 33.1565 46.2047 33.582L41.122 35.275C40.3102 35.5453 39.7603 36.3022 39.754 37.1577L39.7146 42.5149C39.7047 43.8613 38.3942 44.8134 37.1106 44.4068L32.0035 42.7889C31.1878 42.5305 30.2981 42.8195 29.7901 43.508L26.6093 47.8189C25.8099 48.9023 24.1901 48.9023 23.3907 47.8189L20.2099 43.508C19.7019 42.8195 18.8122 42.5305 17.9965 42.7889L12.8894 44.4068C11.6059 44.8134 10.2953 43.8613 10.2854 42.5149L10.246 37.1578C10.2397 36.3022 9.68982 35.5453 8.87805 35.275L3.79526 33.582C2.51786 33.1565 2.01729 31.6159 2.80063 30.5209L5.9176 26.1636C6.4154 25.4677 6.4154 24.5323 5.9176 23.8364L2.80064 19.4791C2.01729 18.3841 2.51786 16.8435 3.79526 16.418L8.87805 14.725C9.68982 14.4547 10.2397 13.6978 10.246 12.8422L10.2854 7.48508C10.2953 6.13872 11.6058 5.18657 12.8894 5.59319L17.9965 7.21113C18.8122 7.46954 19.7019 7.18046 20.2099 6.49197L23.3907 2.18111Z" fill="%2399AE64"/><path d="M21.7188 31.7822V30.8154C21.7188 30.2295 21.7285 29.6387 21.748 29.043C21.7773 28.4375 21.8604 27.8613 21.9971 27.3145C22.1338 26.7578 22.3535 26.2402 22.6562 25.7617C22.959 25.2832 23.3887 24.8682 23.9453 24.5166C24.502 24.1553 25.2051 23.8721 26.0547 23.667C26.9141 23.4619 27.9688 23.3594 29.2188 23.3594C29.9219 23.3594 30.5615 23.3203 31.1377 23.2422C31.7139 23.1641 32.2021 22.998 32.6025 22.7441C33.0127 22.4805 33.3301 22.1045 33.5547 21.6162C33.7793 21.1182 33.8916 20.4492 33.8916 19.6094C33.8916 18.6914 33.7646 17.9785 33.5107 17.4707C33.2568 16.9629 32.8369 16.5918 32.251 16.3574C31.6748 16.1133 30.9082 15.9717 29.9512 15.9326C28.9941 15.8838 27.8125 15.8594 26.4062 15.8594C24.6875 15.8594 23.2373 15.8838 22.0557 15.9326C20.8838 15.9717 19.9121 16.0498 19.1406 16.167C18.3789 16.2744 17.793 16.4258 17.3828 16.6211C16.9727 16.8164 16.6699 17.0703 16.4746 17.3828C16.2891 17.6953 16.1768 18.0713 16.1377 18.5107C16.1084 18.9404 16.0938 19.4531 16.0938 20.0488H13.2812C13.2812 18.9551 13.4082 18.0371 13.6621 17.2949C13.9258 16.5527 14.3066 15.9424 14.8047 15.4639C15.3125 14.9756 15.9375 14.5996 16.6797 14.3359C17.4219 14.0723 18.2764 13.8818 19.2432 13.7646C20.2197 13.6377 21.3037 13.5645 22.4951 13.5449C23.6963 13.5254 25 13.5156 26.4062 13.5156C27.5 13.5156 28.5156 13.5352 29.4531 13.5742C30.3906 13.6133 31.2402 13.7012 32.002 13.8379C32.7637 13.9746 33.4375 14.1748 34.0234 14.4385C34.6094 14.7021 35.1025 15.0586 35.5029 15.5078C35.9033 15.957 36.2061 16.5186 36.4111 17.1924C36.6162 17.8564 36.7188 18.6572 36.7188 19.5947C36.7188 20.4639 36.5967 21.2744 36.3525 22.0264C36.1084 22.7686 35.7227 23.4131 35.1953 23.96C34.668 24.5068 33.9893 24.9365 33.1592 25.249C32.3291 25.5518 31.3281 25.7031 30.1562 25.7031C29.2188 25.7031 28.4277 25.7471 27.7832 25.835C27.1387 25.9131 26.6064 26.0498 26.1865 26.2451C25.7764 26.4307 25.459 26.6797 25.2344 26.9922C25.0098 27.2949 24.8438 27.6709 24.7363 28.1201C24.6387 28.5693 24.5801 29.0967 24.5605 29.7021C24.541 30.3076 24.5312 31.001 24.5312 31.7822H21.7188ZM24.5312 36.4844H21.7188V33.6719H24.5312V36.4844Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.preloader {
  width: 50%;
  margin: 0 auto;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
