@import "functions.scss";

.content {
  margin-bottom: 0;
  height: 70%;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: pr(350);

  background-image: url('data:image/svg+xml,<svg width="328" height="344" viewBox="0 0 328 344" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_b_28_5770)"><path d="M159.977 2.45278C161.975 -0.25572 166.025 -0.25572 168.023 2.45278L201.353 47.6244C202.623 49.3456 204.848 50.0683 206.887 49.4223L260.402 32.4686C263.611 31.452 266.888 33.8324 266.912 37.1983L267.326 93.3338C267.341 95.4727 268.716 97.3648 270.745 98.0407L324.006 115.781C327.199 116.844 328.451 120.696 326.492 123.433L293.831 169.091C292.586 170.831 292.586 173.169 293.831 174.909L326.492 220.567C328.451 223.304 327.199 227.156 324.006 228.219L270.745 245.959C268.716 246.635 267.341 248.527 267.326 250.666L266.912 306.802C266.888 310.168 263.611 312.548 260.402 311.531L206.887 294.578C204.848 293.932 202.623 294.654 201.353 296.376L168.023 341.547C166.025 344.256 161.975 344.256 159.977 341.547L126.647 296.376C125.377 294.654 123.152 293.932 121.113 294.578L67.5976 311.531C64.3888 312.548 61.1125 310.168 61.0877 306.802L60.6744 250.666C60.6587 248.527 59.284 246.635 57.2546 245.959L3.99429 228.219C0.800791 227.156 -0.450645 223.304 1.50773 220.567L34.169 174.909C35.4135 173.169 35.4135 170.831 34.169 169.091L1.50773 123.433C-0.450647 120.696 0.800793 116.844 3.99429 115.781L57.2546 98.0407C59.284 97.3648 60.6587 95.4727 60.6744 93.3338L61.0877 37.1983C61.1125 33.8324 64.3888 31.452 67.5976 32.4686L121.113 49.4223C123.152 50.0683 125.377 49.3456 126.647 47.6244L159.977 2.45278Z" fill="%23B3CDEE" fill-opacity="0.4"/></g><defs><filter id="filter0_b_28_5770" x="-15.4282" y="-15.5786" width="358.856" height="375.157" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feGaussianBlur in="BackgroundImageFix" stdDeviation="8"/><feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_28_5770"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_28_5770" result="shape"/></filter></defs></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: em(32);
  line-height: normal;
  text-align: center;
  color: #0057c7;
}

@import "functions.scss";

.teams {
  position: relative;
  height: 90%;

  margin: pr(25) 0;
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar { width: 0; }


  .team {
    display: block;

    border-radius: pr(20);
    padding: pr(24) pr(20);
    width: 100%;
    min-height: pr(216);
    background: #fff;
    margin-bottom: pr(10);

    text-decoration: none;

    .team__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      border-bottom: 1px solid #dbdbdb;
      width: 100%;
      height: 50px;

      .team__name {
        font-family: "Michroma", sans-serif;
        font-weight: 400;
        font-size: em(20);
        line-height: 100%;
        color: #0f0f0f;
      }

      .team__lock {
        display: inline-block;
        width: pr(36);
        height: 100%;

        background-repeat: no-repeat;
        background-size: contain;
      }

      .team__lock.lock {
        background-image: url('data:image/svg+xml,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.1953 1.09056C24.595 0.548857 25.405 0.548856 25.8047 1.09056L30.2148 7.0676C30.4688 7.41184 30.9137 7.55638 31.3215 7.42718L38.4026 5.18388C39.0444 4.98057 39.6997 5.45665 39.7046 6.12982L39.7593 13.5576C39.7624 13.9854 40.0374 14.3638 40.4433 14.499L47.4906 16.8463C48.1293 17.059 48.3796 17.8293 47.9879 18.3769L43.6662 24.4182C43.4173 24.7661 43.4173 25.2339 43.6662 25.5818L47.9879 31.6231C48.3796 32.1707 48.1293 32.941 47.4906 33.1537L40.4433 35.501C40.0374 35.6362 39.7624 36.0146 39.7593 36.4424L39.7046 43.8702C39.6997 44.5434 39.0444 45.0194 38.4026 44.8161L31.3215 42.5728C30.9137 42.4436 30.4688 42.5882 30.2148 42.9324L25.8047 48.9094C25.405 49.4511 24.595 49.4511 24.1953 48.9094L19.7852 42.9324C19.5312 42.5882 19.0863 42.4436 18.6785 42.5728L11.5974 44.8161C10.9556 45.0194 10.3003 44.5434 10.2954 43.8702L10.2407 36.4424C10.2376 36.0146 9.96263 35.6362 9.55674 35.501L2.50942 33.1537C1.87072 32.941 1.62044 32.1707 2.01211 31.6231L6.3338 25.5818C6.5827 25.2339 6.5827 24.7661 6.3338 24.4182L2.01211 18.3769C1.62044 17.8293 1.87072 17.059 2.50942 16.8463L9.55674 14.499C9.96263 14.3638 10.2376 13.9854 10.2407 13.5576L10.2954 6.12983C10.3003 5.45665 10.9556 4.98057 11.5974 5.18388L18.6785 7.42718C19.0863 7.55638 19.5312 7.41184 19.7852 7.0676L24.1953 1.09056Z" fill="%23B3CDEE"/><g clip-path="url(%23clip0_28_6208)"><path d="M19.6367 35.9805H30.3594C32.082 35.9805 32.9961 35.043 32.9961 33.1914V25.1172C32.9961 23.2773 32.082 22.3398 30.3594 22.3398H19.6367C17.9141 22.3398 17 23.2773 17 25.1172V33.1914C17 35.043 17.9141 35.9805 19.6367 35.9805ZM19.6953 34.2109C19.1914 34.2109 18.8984 33.8945 18.8984 33.3203V24.9883C18.8984 24.4141 19.1914 24.1094 19.6953 24.1094H30.3008C30.8164 24.1094 31.0977 24.4141 31.0977 24.9883V33.3203C31.0977 33.8945 30.8164 34.2109 30.3008 34.2109H19.6953ZM19.0508 23.2422H20.9141V19.293C20.9141 16.3281 22.8008 14.7695 24.9922 14.7695C27.1836 14.7695 29.0938 16.3281 29.0938 19.293V23.2422H30.9453V19.5391C30.9453 15.1328 28.0625 13 24.9922 13C21.9336 13 19.0508 15.1328 19.0508 19.5391V23.2422Z" fill="black" fill-opacity="0.85"/></g><defs><clipPath id="clip0_28_6208"><rect width="15.9961" height="23.5898" fill="white" transform="translate(17 13)"/></clipPath></defs></svg>');
      }

      .team__lock.unlock {
        background-image: url('data:image/svg+xml,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.1953 1.09056C24.595 0.548857 25.405 0.548856 25.8047 1.09056L30.2148 7.0676C30.4688 7.41184 30.9137 7.55638 31.3215 7.42718L38.4026 5.18388C39.0444 4.98057 39.6997 5.45665 39.7046 6.12982L39.7593 13.5576C39.7624 13.9854 40.0374 14.3638 40.4433 14.499L47.4906 16.8463C48.1293 17.059 48.3796 17.8293 47.9879 18.3769L43.6662 24.4182C43.4173 24.7661 43.4173 25.2339 43.6662 25.5818L47.9879 31.6231C48.3796 32.1707 48.1293 32.941 47.4906 33.1537L40.4433 35.501C40.0374 35.6362 39.7624 36.0146 39.7593 36.4424L39.7046 43.8702C39.6997 44.5434 39.0444 45.0194 38.4026 44.8161L31.3215 42.5728C30.9137 42.4436 30.4688 42.5882 30.2148 42.9324L25.8047 48.9094C25.405 49.4511 24.595 49.4511 24.1953 48.9094L19.7852 42.9324C19.5312 42.5882 19.0863 42.4436 18.6785 42.5728L11.5974 44.8161C10.9556 45.0194 10.3003 44.5434 10.2954 43.8702L10.2407 36.4424C10.2376 36.0146 9.96263 35.6362 9.55674 35.501L2.50942 33.1537C1.87072 32.941 1.62044 32.1707 2.01211 31.6231L6.3338 25.5818C6.5827 25.2339 6.5827 24.7661 6.3338 24.4182L2.01211 18.3769C1.62044 17.8293 1.87072 17.059 2.50942 16.8463L9.55674 14.499C9.96263 14.3638 10.2376 13.9854 10.2407 13.5576L10.2954 6.12983C10.3003 5.45665 10.9556 4.98057 11.5974 5.18388L18.6785 7.42718C19.0863 7.55638 19.5312 7.41184 19.7852 7.0676L24.1953 1.09056Z" fill="%23FFE273"/><g clip-path="url(%23clip0_28_6192)"><path d="M15.6367 35.9688H26.3594C28.082 35.9688 28.9961 35.0312 28.9961 33.1797V25.1055C28.9961 23.2656 28.082 22.3281 26.3594 22.3281H15.6367C13.9141 22.3281 13 23.2656 13 25.1055V33.1797C13 35.0312 13.9141 35.9688 15.6367 35.9688ZM15.6953 34.1992C15.1914 34.1992 14.8984 33.8828 14.8984 33.3086V24.9766C14.8984 24.4023 15.1914 24.0977 15.6953 24.0977H26.3008C26.8164 24.0977 27.0977 24.4023 27.0977 24.9766V33.3086C27.0977 33.8828 26.8164 34.1992 26.3008 34.1992H15.6953ZM25.2227 23.2422H27.0742V19.293C27.0742 16.3281 28.9727 14.7695 31.1641 14.7695C33.3555 14.7695 35.2539 16.3281 35.2539 19.293V21.8945C35.2539 22.5859 35.6641 22.9375 36.1914 22.9375C36.6953 22.9375 37.1172 22.6211 37.1172 21.8945V19.5391C37.1172 15.1328 34.2227 13 31.1641 13C28.0938 13 25.2227 15.1328 25.2227 19.5391V23.2422Z" fill="black" fill-opacity="0.85"/></g><defs><clipPath id="clip0_28_6192"><rect width="24.1172" height="23.5664" fill="white" transform="translate(13 13)"/></clipPath></defs></svg>');
      }

    }

    .team__avatars {
      display: flex;
      flex-wrap: nowrap;
      height: pr(80);
      width: 70%;
      margin: pr(8);
      overflow: hidden;

      .team__avatar {
        display: inline-block;
        width: pr(80);
        height: 100%;
        margin-left: pr(-40);

        &:first-child {
          margin-left: 0;
        }

        img {
          width: 100%;
          height: 100%;

          object-fit: contain;
        }
      }
    }

    .team__peoples {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: em(15);
      line-height: 147%;
      letter-spacing: em(-0.03);
      color: #0f0f0f;

      &:before {
        display: inline-block;
        content: '';
        width: pr(10);
        height: pr(8);
        margin-right: pr(8);

        background-image: url('data:image/svg+xml,<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.14722 0.910316C9.58405 1.19843 9.6643 1.8067 9.31715 2.19824L4.89039 7.19101C4.73058 7.37125 4.48837 7.48324 4.22588 7.49827C3.96338 7.5133 3.70614 7.4299 3.52012 7.26946L0.740101 4.87174C0.350233 4.53549 0.350232 3.93135 0.740101 3.59509C1.05643 3.32227 1.52486 3.32227 1.84119 3.59509L4.07368 5.52058L8.03069 1.05763C8.31441 0.737629 8.79021 0.674853 9.14722 0.910316Z" fill="%230F0F0F" /></svg>');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}