body {
  background: #FFE273;
}

.content {
  margin-bottom: 0;
  height: 70%;
}

.users {
  margin: calc(100vh / 730 * 25) 0;
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.users::-webkit-scrollbar {
  width: 0;
}
.users .user__main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: calc(100vh / 730 * 7) 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #0057c7;
}
.users .user__word {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(100vh / 730 * 20);
  padding: calc(100vh / 730 * 8) calc(100vh / 730 * 20);
  width: 100%;
  height: calc(100vh / 730 * 30);
  background: #fff;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  color: #000;
}
.users .user__number {
  min-width: calc(100vh / 730 * 45);
}
.users .user__info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: calc(100vh / 730 * 8);
  justify-content: space-between;
  align-items: center;
  max-width: calc(100vh / 730 * 236);
  overflow: hidden;
}
.users .user__avatar {
  width: calc(100vh / 730 * 30);
  height: calc(100vh / 730 * 30);
}
.users .user__avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.users .user__icons_icon {
  display: inline-block;
  width: calc(100vh / 730 * 30);
  height: calc(100vh / 730 * 30);
  background-repeat: no-repeat;
  background-size: contain;
}
.users .user__icons_icon.remove {
  background-image: url('data:image/svg+xml,<svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_28_16294)"><path d="M10.875 22.3242C11.3203 22.3242 11.6133 22.043 11.6016 21.6328L11.2383 9.09375C11.2266 8.68359 10.9336 8.41406 10.5117 8.41406C10.0664 8.41406 9.77344 8.69531 9.78516 9.10547L10.1367 21.6328C10.1484 22.0547 10.4414 22.3242 10.875 22.3242ZM14.3438 22.3242C14.7891 22.3242 15.1055 22.043 15.1055 21.6328V9.10547C15.1055 8.69531 14.7891 8.41406 14.3438 8.41406C13.8984 8.41406 13.5938 8.69531 13.5938 9.10547V21.6328C13.5938 22.043 13.8984 22.3242 14.3438 22.3242ZM17.8242 22.3242C18.2461 22.3242 18.5391 22.0547 18.5508 21.6328L18.9023 9.10547C18.9141 8.69531 18.6211 8.41406 18.1758 8.41406C17.7539 8.41406 17.4609 8.68359 17.4492 9.10547L17.0977 21.6328C17.0859 22.043 17.3789 22.3242 17.8242 22.3242ZM9.19922 5.35547H11.0625V2.84766C11.0625 2.17969 11.5312 1.74609 12.2344 1.74609H16.4297C17.1328 1.74609 17.6016 2.17969 17.6016 2.84766V5.35547H19.4648V2.73047C19.4648 1.03125 18.3633 0 16.5586 0H12.1055C10.3008 0 9.19922 1.03125 9.19922 2.73047V5.35547ZM3.87891 6.29297H24.8203C25.3008 6.29297 25.6875 5.88281 25.6875 5.40234C25.6875 4.92188 25.3008 4.52344 24.8203 4.52344H3.87891C3.41016 4.52344 3 4.92188 3 5.40234C3 5.89453 3.41016 6.29297 3.87891 6.29297ZM8.97656 26.0977H19.7227C21.3984 26.0977 22.5234 25.0078 22.6055 23.332L23.4258 6.07031H21.5391L20.7539 23.1328C20.7305 23.8359 20.2266 24.3281 19.5352 24.3281H9.14062C8.47266 24.3281 7.96875 23.8242 7.93359 23.1328L7.10156 6.07031H5.26172L6.09375 23.3438C6.17578 25.0195 7.27734 26.0977 8.97656 26.0977Z" fill="%23F52CA0"/></g><defs><clipPath id="clip0_28_16294"><rect width="22.6875" height="28.1836" fill="white" transform="translate(3)"/></clipPath></defs></svg>');
}
.users .user__icons_icon.status {
  background-image: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.1953 1.09056C14.595 0.548856 15.405 0.548856 15.8047 1.09056L17.959 4.01031C18.213 4.35455 18.6579 4.49909 19.0657 4.36989L22.5248 3.27405C23.1665 3.07074 23.8218 3.54682 23.8268 4.22L23.8535 7.84842C23.8566 8.27621 24.1315 8.65462 24.5374 8.78981L27.98 9.93646C28.6187 10.1492 28.869 10.9195 28.4773 11.467L26.3662 14.4182C26.1173 14.7661 26.1173 15.2339 26.3662 15.5818L28.4773 18.533C28.869 19.0805 28.6187 19.8508 27.98 20.0635L24.5374 21.2102C24.1315 21.3454 23.8566 21.7238 23.8535 22.1516L23.8268 25.78C23.8218 26.4532 23.1665 26.9293 22.5248 26.7259L19.0657 25.6301C18.6579 25.5009 18.213 25.6454 17.959 25.9897L15.8047 28.9094C15.405 29.4511 14.595 29.4511 14.1953 28.9094L12.041 25.9897C11.787 25.6454 11.3421 25.5009 10.9343 25.6301L7.47522 26.7259C6.83346 26.9293 6.1782 26.4532 6.17324 25.78L6.14653 22.1516C6.14338 21.7238 5.86845 21.3454 5.46257 21.2102L2.01999 20.0635C1.38129 19.8508 1.131 19.0805 1.52268 18.533L3.6338 15.5818C3.8827 15.2339 3.8827 14.7661 3.6338 14.4182L1.52268 11.467C1.131 10.9195 1.38129 10.1492 2.01999 9.93646L5.46257 8.78981C5.86845 8.65462 6.14338 8.27621 6.14653 7.84842L6.17324 4.22C6.1782 3.54682 6.83346 3.07074 7.47522 3.27405L10.9343 4.36989C11.3421 4.49909 11.787 4.35455 12.041 4.01031L14.1953 1.09056Z" fill="%23FAF4E5"/><path d="M20.1875 20.1705C20.5994 20.1705 20.9528 20.0266 21.2475 19.739C21.5387 19.4478 21.6825 19.0945 21.679 18.679C21.6825 18.2741 21.5387 17.9279 21.2475 17.6403C20.9528 17.3526 20.5994 17.2088 20.1875 17.2088C19.7969 17.2088 19.4524 17.3526 19.1541 17.6403C18.8523 17.9279 18.6996 18.2741 18.696 18.679C18.6996 18.956 18.7724 19.2081 18.9144 19.4354C19.0529 19.6591 19.234 19.8384 19.4577 19.9734C19.6815 20.1048 19.9247 20.1705 20.1875 20.1705ZM14.5 20.1705C14.9119 20.1705 15.2653 20.0266 15.56 19.739C15.8512 19.4478 15.995 19.0945 15.9915 18.679C15.995 18.2741 15.8512 17.9279 15.56 17.6403C15.2653 17.3526 14.9119 17.2088 14.5 17.2088C14.1094 17.2088 13.7649 17.3526 13.4666 17.6403C13.1648 17.9279 13.0121 18.2741 13.0085 18.679C13.0121 18.956 13.0849 19.2081 13.2269 19.4354C13.3654 19.6591 13.5465 19.8384 13.7702 19.9734C13.994 20.1048 14.2372 20.1705 14.5 20.1705ZM8.8125 20.1705C9.22443 20.1705 9.57777 20.0266 9.87251 19.739C10.1637 19.4478 10.3075 19.0945 10.304 18.679C10.3075 18.2741 10.1637 17.9279 9.87251 17.6403C9.57777 17.3526 9.22443 17.2088 8.8125 17.2088C8.42188 17.2088 8.07741 17.3526 7.77912 17.6403C7.47727 17.9279 7.32457 18.2741 7.32102 18.679C7.32457 18.956 7.39737 19.2081 7.53942 19.4354C7.67791 19.6591 7.85902 19.8384 8.08274 19.9734C8.30646 20.1048 8.54972 20.1705 8.8125 20.1705Z" fill="%23468BE8"/></svg>');
}
.users .user__icons_icon.status.ready {
  background-image: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.1953 1.09056C14.595 0.548856 15.405 0.548856 15.8047 1.09056L17.959 4.01031C18.213 4.35455 18.6579 4.49909 19.0657 4.36989L22.5248 3.27405C23.1665 3.07074 23.8218 3.54682 23.8268 4.22L23.8535 7.84842C23.8566 8.27621 24.1315 8.65462 24.5374 8.78981L27.98 9.93646C28.6187 10.1492 28.869 10.9195 28.4773 11.467L26.3662 14.4182C26.1173 14.7661 26.1173 15.2339 26.3662 15.5818L28.4773 18.533C28.869 19.0805 28.6187 19.8508 27.98 20.0635L24.5374 21.2102C24.1315 21.3454 23.8566 21.7238 23.8535 22.1516L23.8268 25.78C23.8218 26.4532 23.1665 26.9293 22.5248 26.7259L19.0657 25.6301C18.6579 25.5009 18.213 25.6454 17.959 25.9897L15.8047 28.9094C15.405 29.4511 14.595 29.4511 14.1953 28.9094L12.041 25.9897C11.787 25.6454 11.3421 25.5009 10.9343 25.6301L7.47522 26.7259C6.83346 26.9293 6.1782 26.4532 6.17324 25.78L6.14653 22.1516C6.14338 21.7238 5.86845 21.3454 5.46257 21.2102L2.01999 20.0635C1.38129 19.8508 1.131 19.0805 1.52268 18.533L3.6338 15.5818C3.8827 15.2339 3.8827 14.7661 3.6338 14.4182L1.52268 11.467C1.131 10.9195 1.38129 10.1492 2.01999 9.93646L5.46257 8.78981C5.86845 8.65462 6.14338 8.27621 6.14653 7.84842L6.17324 4.22C6.1782 3.54682 6.83346 3.07074 7.47522 3.27405L10.9343 4.36989C11.3421 4.49909 11.787 4.35455 12.041 4.01031L14.1953 1.09056Z" fill="%23FAF4E5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.1472 11.4103C19.5841 11.6984 19.6643 12.3067 19.3171 12.6982L14.8904 17.691C14.7306 17.8713 14.4884 17.9832 14.2259 17.9983C13.9634 18.0133 13.7061 17.9299 13.5201 17.7695L10.7401 15.3717C10.3502 15.0355 10.3502 14.4313 10.7401 14.0951C11.0564 13.8223 11.5249 13.8223 11.8412 14.0951L14.0737 16.0206L18.0307 11.5576C18.3144 11.2376 18.7902 11.1749 19.1472 11.4103Z" fill="%23468BE8"/></svg>');
}

/*# sourceMappingURL=team.css.map */
