<html>
  <head>

    <meta charset='utf-8' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <title>Guess Word Game</title>

    <!-- Meta tags for SEO and social sharing -->

    <!-- Import the webpage's fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" >

    <!-- Import the webpage's stylesheet -->
    <link rel='stylesheet' href='/style.css'>

    <scriptsrc='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js'></script>
  </head>
  <body>

    <div class="container" id="container">
        <div class="content">
            <p class="game-title">
            Guess Word
        </p>
            <p class="game-subtitle">
                game
            </p>
        </div>
        <a class="btn" href="/teams">start</a>
    </div>


    <script src='/script.js'></script>

  </body>
</html>