<html>
  <head>

    <meta charset='utf-8' />
    <link rel='icon' href='/favicon.ico' />
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Registration</title>

    <!-- Meta tags for SEO and social sharing -->

    <!-- Import the webpage's fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" >

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/register.css">


    <link rel="stylesheet" href="/assets/swiper-bundle.min.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js'></script>
    <script src="/assets/swiper-bundle.min.js"></script>
  <body>

    <div class="container" id="container">
        <div class="content">
            <div class="content__title">
                Registration
            </div>
            <div class="form">
                <div class="form__box">
                    <div class="form__title">Please, add your</div>
                <input type="text" placeholder="Name" name="name">
                <input type="text" placeholder="Surname" name="surname">

                <div class="form__radios">
                    <div class="form__group">
                        <input type="radio" name="sex" value="male" id="sex_male" checked>
                        <label for="sex_male">Male</label>
                    </div>
                    <div class="form__group"><input type="radio" name="sex" value="female" id="sex_female">
                        <label for="sex_female">Female</label>
                    </div>
                </div>

                <div class="avatars" id="avatars">



                </div>
                </div>



            </div>
        </div>

        <button class="btn" id="btn-save" disabled>save</button>

        <a href="/about" class="btn-about"></a>
    </div>

    <script src='/script.js'></script>
    <script src='/index.js'></script>
    <script src='/register.js'></script>
  </body>
</html>