<html>
  <head>

    <meta charset='utf-8' />
    <link rel='icon' href='/favicon.ico' />
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Add Word</title>

    <!-- Meta tags for SEO and social sharing -->

    <!-- Import the webpage's fonts -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" >
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" >
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" >

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/team.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js'></script>
  </head>

  <body>

<div class="container" id="container">
     <input type="hidden" value="{{ teamId }}" id="team-id">

     <div class="heading">
         <a class="btn-back" href="/teams"></a><span class="title" onclick="navigator.clipboard.writeText('{{ link }}')">{{ teamName }}</span>
     </div>

    <div class="content">
       </a><div class="content__title">
             Team's members
       </div>
        <div class="form">
            <div class="form__box">

                <div class="users" id="users">
                    <img class="preloader" src="/assets/preloader.gif" alt="loading ... ">
                </div>

            </div>
        </div>

    </div>
    <button class="btn" id="btn-start-game" style="display:none">Start Game</button>
    <a class="btn" id="btn-quit-game" style="display:none" href="/teams">Quit Game</a>
    <a class="btn" id="btn-leave-team" style="display:none" href="/teams">Leave Team</a>

    <a href="/about" class="btn-about"></a>
</div>

</div>


<script src="/script.js"></script>
<script src="/team.js"></script>
  </body>
</html>