<html>
  <head>

    <meta charset='utf-8' />
    <link rel='icon' href='/favicon.ico' />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Teams</title>

    <!-- Meta tags for SEO and social sharing -->

    <!-- Import the webpage's fonts -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" >
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" >
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" >

    <!-- Import the webpage's stylesheet -->
   <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="/teams.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js'></script>
  </head>

  <body>

    <div class="container" id="container">
        <div class="content">

            <div class="heading">
                <a class="btn-back" href="/"></a>
                <div class="content__title">Teams</div>
            </div>

            <div class="teams" id="teams">
                {{#isTeams}}
                    <div class="users" id="users">
                        <div class="preloader"><img  src="/assets/preloader.gif" alt="loading ... "></div>
                    </div>
                {{/isTeams}}

                {{^isTeams}}
                <div class="empty-message">
                    Be the First
                </div>
                {{/isTeams}}

            </div>
        </div>
        <a class="btn" href="/team_create">Add Team</a>

        <a href="/about" class="btn-about"></a>
    </div>


    <script src="/script.js"></script>
    <script src="/teams.js"></script>
  </body>
</html>